body {
  background: black;
  background: radial-gradient(circle at center, #0f172a 0%, #020617 100%);
  background-attachment: fixed;
  color: #94a3b8;
}

h1 {
  text-align: flex-start;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: "Cinzel", serif;
  color: #38bdf8;
  text-shadow: 0 0 10px rgba(56, 191, 248, 0.438);
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 23, 42, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navlinks {
  font-size: 20px;
  text-align: end;
  letter-spacing: 3px;
  font-family: "EB Garamond", serif;
}

.navlinks a {
  color: #38bdf8;
  text-shadow: 0 0 10px rgba(56, 189, 248, 0.25);
  text-decoration: underline;
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  padding: 2px;
}

.navlinks a:hover {
  color: #ffffff;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
